$primaire: #9356DC;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$fond:#f6f6f6;
$footer:353535;
$header:#ffffff;

@import "./mixins.scss";

@keyframes clarte{
    from{
         opacity: 0;
    }
    to{
         opacity: 1;
    }
}

body{    
    margin:0px;  
    max-width: 800px; 
    min-width: 360px;
    min-width: none;      
    margin: auto;   
    position: relative;  
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;     
}
a{
    text-decoration: none;
}
.coeur{    
    position: relative;
}
.fa-heart-o{
    position: absolute;
    opacity:1;
    z-index: 1;
    background-color: $fond;
}
.fa-heart{
    background: linear-gradient( 45deg, #ff79da, #9356dc);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    position: absolute;
    left: 0px;    
    z-index: 0;
}
.fa-heart-o:hover{
    opacity: 0;
    transition: opacity 250ms;
}
.header1{    
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;  
    width: 65%;
    height: 60px;
    font-size: 25px;
    font-family: 'Shrikhand', cursive;
    height: 70px;
}
.header2{
    justify-content: center;
}
header img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}
.fa-arrow-left{
    color: black;
}
main {
    @include main;
}
.maina{
    @include maintitre;
}
.maina p{
    @include maintitrep;
}
.mainb {
    @include mainchoix;
}
.mainc{
    @include mainplat;
}
.chek{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    background-color:$tertiaire;
    height: (55px); 
    position: absolute;      
    right: -40px;   
    transition: transform 2s;   
    }

.fa-check-circle{
    font-size: larger;
    color: #ffffff;       
}
.mainc{
    animation-name: clarte;
    animation-duration: 5s;    
}
.mainc:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc; 
    transition: all 250ms;  
}
.mainc:hover .chek{
    transform: translate(-40px)
}
.mainc:hover .mainc4{
    width: 85%;
}
.mainc2 p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mainc1{
    @include mainplat1;
}
.mainc2{
    @include mainplat2;
 }
 .mainc2 p{
     @include mainplat2p;
 }
 .mainc2 p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 }
 .mainc5{
     width: 80%;
 }
 .mainc3{
     font-weight: bold;
 }
 .mainc4{
     width: 95%;
     transition: width 2s;
 }
 .maind {
     @include mainplat;
 }
 .maind{
    animation-name: clarte;
    animation-duration: 5s;
 }
 .maind:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;    
 }
 .maind:hover .chek{
     transform:translate(-40px);
 }
 .maind:hover .maind4{
     width: 85%;
 }
 .maind1 {
     @include mainplat1;
 }
 .maind2 {
     @include mainplat2;
 }
 .maind2 p {
     @include mainplat2p;
 }
 .maind3{
     font-weight: bold;
 }
 .maind4{
     width: 95%;
     transition: width 2S;
 }
 .maine{
     @include mainplat;
 }
 .maine1{
     @include mainplat1;
 }
 .maine:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;    
 }
 .maine:hover .chek{
     transform: translate(-40px);
 }
 .maine:hover .maine4{
     width:85%;
 }
 .maine:hover .chek{
     transform: translate(-40px);
      }
.maine:hover .maie4{
    transition: width 2s;
}
 .maine{
    animation-name: clarte;
    animation-duration: 5s;
 }
 .maine2{
     @include mainplat2;
 }
 .maine2 p{
     @include mainplat2p;
 }
 .maine3{
     font-weight: bold;
 }
 .maine4{
     width: 95%;
     transition: width 2s;
 }
 .mainl{
     @include mainplat;
 }
 .mainl{
    animation-name: clarte;
    animation-duration: 5s;
 }
 .mainl:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
 }
 .mainl:hover .chek{
    transform: translate(-40px);    
 }
 .mainl:hover .mainl4{
     width:85%;
 }

 .mainl:hover .chek{
     transform: translate(-40px);
 }
 .mainl:hover .mainl4{
     width: 85%;
 }
 .mainl1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
.mainl2 p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 .mainl1{
     @include mainplat1;
 }
 .mainl2{
     @include mainplat2;
 }
 .mainl2 p {
     @include mainplat2p;
 }
 .mainl3 {
     font-weight: bold;
 }
 .mainl4{
     width: 95%;
     transition: width 2s;
 }
 .mainb1 {
     @include mainchoix;
 }
 .mainf {
     @include mainplat;
 }
 .mainf:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
 }
 .mainf:hover .chek{
     transform: translate(-40px);
 }
 .mainf:hover .mainf4{
        width: 85%;
 }
 .mainf1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 .mainf{
    animation-name: clarte;
    animation-duration: 7s;
 }
 .mainf1 {
     @include mainplat1;
 }
 .mainf2 {
     @include mainplat2;
 }
 .mainf2 p{
     @include mainplat2p;
 }
 .mainf3{
     font-weight: bold;
 }
 .mainf4{
     width: 95%;
     transition: width 2s;
 }
 .maing{
     @include mainplat;
 }
 .maing{
    animation-name: clarte;
    animation-duration: 7s;
 }
 .maing:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
 }
 .maing:hover .chek{
     transform: translate(-40px);
 }
 .maing:hover .maing4{
     width: 85%;
 }
 .maing1{
     @include mainplat1;
 }
 .maing2{
     @include mainplat2
 }
 .maing2 p{
     @include mainplat2p;
 }
 .maing3{
     font-weight: bold;
 }
 .maing4{
     width: 95%;
     transition: width 2s;
 }
 .mainh{
     @include mainplat;
 }
 .mainh{
    animation-name: clarte;
    animation-duration: 7s;
 }
 .mainh:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
 }
 .mainh:hover .chek{
     transform:translate(-40px);
 }
 .mainh:hover .mainh4{
     width: 85%;
 }
 .mainh1{
     @include mainplat1;
 }
 .mainh2{
     @include mainplat2;
 }
 .mainh2 p{
     @include mainplat2p
 }
 .mainh3 {
     font-weight: bold;
 }
 .mainh4{
     width: 95%;
     transition: width 2s;
 }
 .mainb2{
     @include mainchoix;
 }
 .maini{
     @include mainplat;
 }
 .maini{
    animation-name: clarte;
    animation-duration: 10s;
 }
 .maini:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
 }
 .maini:hover .chek{
     transform: translate(-40px);
 }
 .maini:hover .maini4{
     width: 85%;
 }
 .maini1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 .maini2 p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 .maini5{
     width: 80%;
 }
 .maini1{
     @include mainplat1;
 }
 .maini2{
     @include mainplat2;
 }
 .maini2 p{
     @include mainplat2p;
 }
 .maini3{
     font-weight: bold;
 }
 .maini4{
     width: 95%;
     transition: width 2s;
 }
 .mainj{
     @include mainplat;
 }
 .mainj{
    animation-name: clarte;
    animation-duration: 10s;
 }
 .mainj:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
 }
 .mainj:hover .chek{
     transform: translate(-40px);
 }
 .mainj:hover .mainj4{
     width: 85%;
 }
 .mainj1{
     @include mainplat1;
 }
 .mainj2{
     @include mainplat2;
 }
 .mainj2 p{
     @include mainplat2p;
 }
 .mainj3{
     font-weight: bold;
 }
 .mainj4{
     width: 95%;
     transition: width 2s;
 }
 .maink{
     @include mainplat;
 }
 .maink{
    animation-name: clarte;
    animation-duration: 10s;
 }
 .maink:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
 }
 .maink:hover .chek{
     transform: translate(-40px);
 }
 .maink:hover .maink4{
     width: 85%;
 }
 .maink1{
     @include mainplat1;
 }
 .maink1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
.maink2{
    @include mainplat2;
}
.maink2 p {
    @include mainplat2p;
}
.maink3{
    font-weight: bold;
}
.maink4{
    width: 95%;
    transition: width 2s;
}
.commander {
    @include bouton;
}
.commander:hover{
    background-color: #e797e5;
    box-shadow: 2px 2px 15px #d345cf;
    transition: 250ms;    
}
footer{
    @include footer;
}
.footera{
    @include footera;
}
.footerb{
    @include footerb;
}
.footerb{
    margin-top: 0px;
}
.footerc{
    @include footerc;
}
.footerd{
    @include footerd;    
}
.footerd{
    margin-top: 0px;
    margin-bottom: 0px;
}
footer p{
    @include footerp;
}















