@-webkit-keyframes clarte {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes clarte {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0px;
  max-width: 800px;
  min-width: 360px;
  margin: auto;
  position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
}

a {
  text-decoration: none;
}

.coeur {
  position: relative;
}

.fa-heart-o {
  position: absolute;
  opacity: 1;
  z-index: 1;
  background-color: #f6f6f6;
  color: gray;
  right: 20px;
}

.fa-heart {
  background: linear-gradient(45deg, #ff79da, #9356dc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: absolute;
  opacity: 1;
  z-index: 0;
  right: 20px;
}

.fa-heart-o:hover {
  opacity: 0;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  width: 65%;
  height: 60px;
  font-size: 25px;
  font-family: 'Shrikhand', cursive;
  height: 70px;
}

.header2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}

.fa-arrow-left {
  color: black;
}

main {
  margin: 0px;
  width: auto;
  position: absolute;
  top: 280px;
  left: 0px;
  width: 100%;
  border-radius: 30px;
  height: 1400px;
  z-index: 1;
  background-color: #f6f6f6;
  padding-top: 40px;
}

.maina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 40px;
  font-size: 25px;
  padding-left: 20px;
}

.maina p {
  font-family: 'Shrikhand', cursive;
  margin-top: 0px;
  margin-bottom: 40px;
}

.mainb {
  font-family: 'Roboto', sans-serif;
  border-bottom-style: solid;
  border-bottom-color: #99e2d0;
  width: 40px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.mainc {
  font-family: 'Roboto', sans-serif;
  width: 95%;
  border-radius: 20px;
  margin: auto;
  background-color: #ffffff;
  margin-top: 15px;
  -webkit-box-shadow: 2px 2px 30px #f6f6f6;
          box-shadow: 2px 2px 30px #f6f6f6;
  padding-left: 20px;
  padding-right: 0px;
  height: 70px;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.chek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 60px;
  background-color: #99e2d0;
  height: 75px;
  position: absolute;
  right: -60px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.fa-check-circle {
  font-size: larger;
  color: #ffffff;
}

.fa-check-circle:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.mainc {
  -webkit-animation-name: clarte;
          animation-name: clarte;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.mainc:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 30px #cccccc;
          box-shadow: 2px 2px 30px #cccccc;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.mainc:hover .chek {
  -webkit-transform: translate(-60px);
          transform: translate(-60px);
}

.mainc:hover .mainc4 {
  width: 80%;
}

.mainc2 p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainc1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}

.mainc2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainc2 p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mainc2 p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mainc5 {
  width: 80%;
}

.mainc3 {
  font-weight: bold;
}

.mainc4 {
  width: 95%;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.mainc6 {
  font-weight: 200;
}

.maind {
  font-family: 'Roboto', sans-serif;
  width: 95%;
  border-radius: 20px;
  margin: auto;
  background-color: #ffffff;
  margin-top: 15px;
  -webkit-box-shadow: 2px 2px 30px #f6f6f6;
          box-shadow: 2px 2px 30px #f6f6f6;
  padding-left: 20px;
  padding-right: 0px;
  height: 70px;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.maind {
  -webkit-animation-name: clarte;
          animation-name: clarte;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.maind:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 30px #cccccc;
          box-shadow: 2px 2px 30px #cccccc;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.maind:hover .chek {
  -webkit-transform: translate(-60px);
          transform: translate(-60px);
}

.maind:hover .maind4 {
  width: 80%;
}

.maind1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}

.maind2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maind2 p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.maind3 {
  font-weight: bold;
}

.maind4 {
  width: 95%;
  -webkit-transition: width 2S;
  transition: width 2S;
}

.maind5 {
  font-weight: 200;
}

.maine {
  font-family: 'Roboto', sans-serif;
  width: 95%;
  border-radius: 20px;
  margin: auto;
  background-color: #ffffff;
  margin-top: 15px;
  -webkit-box-shadow: 2px 2px 30px #f6f6f6;
          box-shadow: 2px 2px 30px #f6f6f6;
  padding-left: 20px;
  padding-right: 0px;
  height: 70px;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.maine1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}

.maine:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 30px #cccccc;
          box-shadow: 2px 2px 30px #cccccc;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.maine:hover .chek {
  -webkit-transform: translate(-60px);
          transform: translate(-60px);
}

.maine:hover .maine4 {
  width: 80%;
}

.maine:hover .chek {
  -webkit-transform: translate(-60px);
          transform: translate(-60px);
}

.maine:hover .maie4 {
  -webkit-transition: width 2s;
  transition: width 2s;
}

.maine {
  -webkit-animation-name: clarte;
          animation-name: clarte;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.maine2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maine2 p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.maine3 {
  font-weight: bold;
}

.maine4 {
  width: 95%;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.maine5 {
  font-weight: 200;
}

.mainl {
  font-family: 'Roboto', sans-serif;
  width: 95%;
  border-radius: 20px;
  margin: auto;
  background-color: #ffffff;
  margin-top: 15px;
  -webkit-box-shadow: 2px 2px 30px #f6f6f6;
          box-shadow: 2px 2px 30px #f6f6f6;
  padding-left: 20px;
  padding-right: 0px;
  height: 70px;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.mainl {
  -webkit-animation-name: clarte;
          animation-name: clarte;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.mainl:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 30px #cccccc;
          box-shadow: 2px 2px 30px #cccccc;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.mainl:hover .chek {
  -webkit-transform: translate(-60px);
          transform: translate(-60px);
}

.mainl:hover .mainl4 {
  width: 80%;
}

.mainl:hover .chek {
  -webkit-transform: translate(-60px);
          transform: translate(-60px);
}

.mainl:hover .mainl4 {
  width: 80%;
}

.mainl1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainl1 {
  width: 80%;
}

.mainl2 p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainl1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}

.mainl2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainl2 p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mainl3 {
  font-weight: bold;
}

.mainl4 {
  width: 95%;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.mainl5 {
  font-weight: 200;
}

.mainb1 {
  font-family: 'Roboto', sans-serif;
  border-bottom-style: solid;
  border-bottom-color: #99e2d0;
  width: 40px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.mainf {
  font-family: 'Roboto', sans-serif;
  width: 95%;
  border-radius: 20px;
  margin: auto;
  background-color: #ffffff;
  margin-top: 15px;
  -webkit-box-shadow: 2px 2px 30px #f6f6f6;
          box-shadow: 2px 2px 30px #f6f6f6;
  padding-left: 20px;
  padding-right: 0px;
  height: 70px;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.mainf:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 30px #cccccc;
          box-shadow: 2px 2px 30px #cccccc;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.mainf:hover .chek {
  -webkit-transform: translate(-60px);
          transform: translate(-60px);
}

.mainf:hover .mainf4 {
  width: 80%;
}

.mainf1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainf1 {
  width: 80%;
}

.mainf {
  -webkit-animation-name: clarte;
          animation-name: clarte;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.mainf1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}

.mainf2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainf2 p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mainf3 {
  font-weight: bold;
}

.mainf4 {
  width: 95%;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.mainf5 {
  font-weight: 200;
}

.maing {
  font-family: 'Roboto', sans-serif;
  width: 95%;
  border-radius: 20px;
  margin: auto;
  background-color: #ffffff;
  margin-top: 15px;
  -webkit-box-shadow: 2px 2px 30px #f6f6f6;
          box-shadow: 2px 2px 30px #f6f6f6;
  padding-left: 20px;
  padding-right: 0px;
  height: 70px;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.maing {
  -webkit-animation-name: clarte;
          animation-name: clarte;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.maing:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 30px #cccccc;
          box-shadow: 2px 2px 30px #cccccc;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.maing:hover .chek {
  -webkit-transform: translate(-60px);
          transform: translate(-60px);
}

.maing:hover .maing4 {
  width: 80%;
}

.maing1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}

.maing2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maing2 p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.maing3 {
  font-weight: bold;
}

.maing4 {
  width: 95%;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.maing5 {
  font-weight: 200;
}

.mainh {
  font-family: 'Roboto', sans-serif;
  width: 95%;
  border-radius: 20px;
  margin: auto;
  background-color: #ffffff;
  margin-top: 15px;
  -webkit-box-shadow: 2px 2px 30px #f6f6f6;
          box-shadow: 2px 2px 30px #f6f6f6;
  padding-left: 20px;
  padding-right: 0px;
  height: 70px;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.mainh {
  -webkit-animation-name: clarte;
          animation-name: clarte;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.mainh:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 30px #cccccc;
          box-shadow: 2px 2px 30px #cccccc;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.mainh:hover .chek {
  -webkit-transform: translate(-60px);
          transform: translate(-60px);
}

.mainh:hover .mainh4 {
  width: 80%;
}

.mainh1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}

.mainh2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainh2 p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mainh3 {
  font-weight: bold;
}

.mainh4 {
  width: 95%;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.mainh5 {
  font-weight: 200;
}

.mainb2 {
  font-family: 'Roboto', sans-serif;
  border-bottom-style: solid;
  border-bottom-color: #99e2d0;
  width: 40px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.maini {
  font-family: 'Roboto', sans-serif;
  width: 95%;
  border-radius: 20px;
  margin: auto;
  background-color: #ffffff;
  margin-top: 15px;
  -webkit-box-shadow: 2px 2px 30px #f6f6f6;
          box-shadow: 2px 2px 30px #f6f6f6;
  padding-left: 20px;
  padding-right: 0px;
  height: 70px;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.maini {
  -webkit-animation-name: clarte;
          animation-name: clarte;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.maini:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 30px #cccccc;
          box-shadow: 2px 2px 30px #cccccc;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.maini:hover .chek {
  -webkit-transform: translate(-60px);
          transform: translate(-60px);
}

.maini:hover .maini4 {
  width: 80%;
}

.maini1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.maini1 {
  width: 80%;
}

.maini2 p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.maini5 {
  width: 80%;
}

.maini1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}

.maini2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maini2 p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.maini3 {
  font-weight: bold;
}

.maini4 {
  width: 95%;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.maini6 {
  font-weight: 200;
}

.mainj {
  font-family: 'Roboto', sans-serif;
  width: 95%;
  border-radius: 20px;
  margin: auto;
  background-color: #ffffff;
  margin-top: 15px;
  -webkit-box-shadow: 2px 2px 30px #f6f6f6;
          box-shadow: 2px 2px 30px #f6f6f6;
  padding-left: 20px;
  padding-right: 0px;
  height: 70px;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.mainj {
  -webkit-animation-name: clarte;
          animation-name: clarte;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.mainj:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 30px #cccccc;
          box-shadow: 2px 2px 30px #cccccc;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.mainj:hover .chek {
  -webkit-transform: translate(-60px);
          transform: translate(-60px);
}

.mainj:hover .mainj4 {
  width: 80%;
}

.mainj1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}

.mainj2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainj2 p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mainj3 {
  font-weight: bold;
}

.mainj4 {
  width: 95%;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.mainj5 {
  font-weight: 200;
}

.maink {
  font-family: 'Roboto', sans-serif;
  width: 95%;
  border-radius: 20px;
  margin: auto;
  background-color: #ffffff;
  margin-top: 15px;
  -webkit-box-shadow: 2px 2px 30px #f6f6f6;
          box-shadow: 2px 2px 30px #f6f6f6;
  padding-left: 20px;
  padding-right: 0px;
  height: 70px;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.maink {
  -webkit-animation-name: clarte;
          animation-name: clarte;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.maink:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 30px #cccccc;
          box-shadow: 2px 2px 30px #cccccc;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.maink:hover .chek {
  -webkit-transform: translate(-60px);
          transform: translate(-60px);
}

.maink:hover .maink4 {
  width: 80%;
}

.maink1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}

.maink1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.maink1 {
  width: 80%;
}

.maink2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maink2 p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.maink3 {
  font-weight: bold;
}

.maink4 {
  width: 95%;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.maink5 {
  font-weight: 200;
}

.commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dd6eda;
  display: flex;
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  color: #ffffff;
  -webkit-box-shadow: 2px 2px 15px #dd6eda;
          box-shadow: 2px 2px 15px #dd6eda;
  font-weight: bold;
  margin: auto;
  font-size: 20px;
  margin-top: 50px;
}

.commander:hover {
  background-color: #e797e5;
  -webkit-box-shadow: 2px 2px 15px #d345cf;
          box-shadow: 2px 2px 15px #d345cf;
  -webkit-transition: 250ms;
  transition: 250ms;
}

footer {
  position: absolute;
  top: 1550px;
  left: 0px;
  z-index: 2;
  background-color: #353535;
  margin-top: 30px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  width: 100%;
  height: 300px;
  padding-top: 30px;
}

.footera {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
  font-weight: bold;
  margin-left: 30px;
}

.footerb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3px;
  margin-top: 10px;
  margin-left: 30px;
  height: 25px;
}

.footerb {
  margin-top: 0px;
}

.footerc {
  margin-left: 5px;
}

.footerd {
  padding-top: 4px;
  margin-top: 10px;
  margin-left: 30px;
  color: #ffffff;
  text-decoration: none;
  height: 25px;
}

.footerd {
  margin-top: 0px;
  margin-bottom: 0px;
}

footer p {
  margin-top: 0px;
  font-weight: bold;
}
/*# sourceMappingURL=style2.css.map */