$primaire: #9356DC;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$fond:#f6f6f6;
$footer:353535;
$header:#ffffff;

@keyframes clarte{
    from{
         opacity: 0;
    }
    to{
         opacity: 1;
    }
}
body{    
    margin:0px;  
    max-width: 800px; 
    min-width: none;     
    margin: auto;   
    position: relative;  
}
a{
    text-decoration: none;
}
header{
    width: 100%;       
}
.header1{    
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;  
    width: 65%;
    height: 60px;
    font-size: 30px;
    font-family: 'Shrikhand', cursive;
}
.coeur{    
    position: relative;
}
.fa-heart-o{
    position: absolute;
    opacity:1;
    z-index: 1;
    background-color: $fond;
}
.fa-heart{
    background: linear-gradient( 45deg, #ff79da, #9356dc);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    position: absolute;
    left: 0px;    
    z-index: 0;
}
.fa-heart-o:hover{
    opacity: 0;
    transition: opacity 250ms;
}
.header2{
    justify-content: center;
}
.fa-arrow-left{
    color: black;
}
header img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}
main{
    
    margin: 0px;
    width:auto;
    position: absolute;
    top: 250px;
    left:0px;
    width: 100%;
    border-radius: 30px;
    height: 1500px;
    z-index: 1;
    background-color: $fond;
    padding-top: 40px;
}
.maina{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    font-size: 25px;
}
.maina p{
    font-family: 'Shrikhand', cursive;
    margin-top: 0px;    
}
.mainb{
    font-family: 'Roboto', sans-serif;
    border-bottom-style: solid;
    border-bottom-color: $tertiaire;
    width: 40px; 
    margin-left: 10px;   
}
.mainc{    
    font-family: 'Roboto', sans-serif;    
    width: 80%;
    border-radius: 20px;    
    margin: auto;
    background-color: $header;
    margin-top: 15px;
    box-shadow: 2px 2px 30px $fond;
    padding-left: 10px;
    padding-right: 0px; 
    height: 55px;
    margin-bottom: 15px;     
    position:relative; 
    overflow: hidden;            
}
.mainc{
    animation-name: clarte;
    animation-duration: 5s;
    display: flex;   
    justify-content: space-between;    
}
.mainc:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;    
}
.mainc:hover .chek{
    transform:translate(-40px)
}
.mainc:hover .mainc4{
    width: 85%;
}
.mainc1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}
.mainc1{      
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
}
.mainc2{
    display: flex;  
    justify-content: space-between;      
}
.mainc2 p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.mainc3{
    font-weight: bold;
}
.mainc4{
    width: 95%;
    transition: width 2s;
}
.chek{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    background-color:$tertiaire;  
    position: absolute;      
    right: -40px;   
    transition: transform 2s;  
    height: 55px;   
}   

.fa-check-circle{
    font-size: larger;
    color: #ffffff;       
}
.maind
{            
    font-family: 'Roboto', sans-serif;    
    width: 80%;
    border-radius: 20px;    
    margin: auto;
    background-color: $header;
    margin-top: 15px;
    box-shadow: 2px 2px 30px $fond;
    padding-left: 10px;
    padding-right: 0px; 
    height: 55px;
    margin-bottom: 15px; 
    overflow: hidden;
    display: flex;   
    justify-content: space-between;
    position: relative;
    }
.maind{
    animation-name: clarte;
    animation-duration: 5s;
}
.maind:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.maind:hover .chek{
    transform:translate(-40px);
}
.maind:hover .maind4{
    width: 85%;
}
.maind:hover .maind2 p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.maind1{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 0px;
    }
.maind1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.maind2{
    display: flex;  
    justify-content: space-between;    
}
.maind2 p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.maind3{
    font-weight: bold;
}
.maind4{
    width: 95%;
    transition: width 2s;
}
.maine{
    font-family: 'Roboto', sans-serif;    
    width: 80%;
    border-radius: 20px;    
    margin: auto;
    background-color: $header;
    margin-top: 15px;
    box-shadow: 2px 2px 30px $fond;
    padding-left: 10px;
    padding-right: 0px; 
    height: 55px;
    margin-bottom: 15px; 
    overflow: hidden;
    display: flex;   
    justify-content: space-between;
    position: relative;
}
.maine{
    animation-name: clarte;
    animation-duration: 5s;
}
.maine:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.maine:hover .chek{
    transform: translate(-40px);
}
.maine:hover .maine4{
    width: 85%;
}
.maine1{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 0px;
}
.maine2{
    display: flex;
    justify-content: space-between;
    }
.maine2 p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.maine3{
    font-weight: bold;
}
.maine4{
    width: 95%;
    transition: width 2s;
}
.mainb1{
    font-family: 'Roboto', sans-serif;
    border-bottom-style: solid;
    border-bottom-color: $tertiaire;
    width: 40px;  
    margin-left: 10px
}
.mainb1 p{
    margin-left: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.mainf{    
    font-family: 'Roboto', sans-serif;    
    width: 80%;
    border-radius: 20px;    
    margin: auto;
    background-color: $header;
    margin-top: 15px;
    box-shadow: 2px 2px 30px $fond;
    padding-left: 10px;
    padding-right: 0px; 
    height: 55px;
    margin-bottom: 15px; 
    overflow: hidden;
    display: flex;   
    justify-content: space-between;
    position: relative;
}
.mainf{
    animation-name: clarte;
    animation-duration: 7s;
}
.mainf1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mainf5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mainf:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.mainf:hover .chek{
    transform: translate(-40px);
}
.mainf:hover .mainf4{
    width: 85%;
}
.mainf1{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 0px;
}
.mainf2{
    display: flex;
    justify-content: space-between;    
}
.mainf2 p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.mainf3{
    font-weight: bold;
}
.mainf4{
    width: 95%;
    transition: width 2s;
}
.maing{    
    font-family: 'Roboto', sans-serif;    
    width: 80%;
    border-radius: 20px;    
    margin: auto;
    background-color: $header;
    margin-top: 15px;
    box-shadow: 2px 2px 30px $fond;
    padding-left: 10px;
    padding-right: 0px; 
    height: 55px;
    margin-bottom: 15px; 
    overflow: hidden;
    display: flex;   
    justify-content: space-between;
    position: relative;
}
.maing{
    animation-name: clarte;
    animation-duration: 7s;
}
.maing:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.maing:hover .chek{
    transform: translate(-40px);
}
.maing:hover .maing4{
    width: 85%;
}
.maing1{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.maing1{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 0px;
}
.maing2{
    display: flex;
    justify-content: space-between;    
}
.maing2 p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.maing3{
    font-weight: bold;
}
.maing4{
    width: 95%;
    transition: width 2s;
}
.maing5{    
    white-space: nowrap; 
    text-overflow: ellipsis;    
    overflow: hidden;
}
.mainh{    
    font-family: 'Roboto', sans-serif;    
    width: 80%;
    border-radius: 20px;    
    margin: auto;
    background-color: $header;
    margin-top: 15px;
    box-shadow: 2px 2px 30px $fond;
    padding-left: 10px;
    padding-right: 0px; 
    height: 55px;
    margin-bottom: 15px; 
    overflow: hidden;
    display: flex;   
    justify-content: space-between;
    position: relative;
}
.mainh{
    animation-name: clarte;
    animation-duration: 7s;
}
.mainh:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.mainh:hover .chek{
    transform: translate(-40px);
}
.mainh:hover .mainh4{
    width: 85%;
}
.mainh1{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mainh2{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mainh1{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 0px;
}
.mainh2{
    display: flex;
    justify-content: space-between;    
}
.mainh2 p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.mainh3{
    font-weight: bold;
}
.mainh4{
    width: 95%;
    transition: width 2s;
}
.mainb2{
    font-family: 'Roboto', sans-serif;
    border-bottom-style: solid;
    border-bottom-color: $tertiaire;
    width: 40px; 
    margin-left: 10px
}
.maini{
    font-family: 'Roboto', sans-serif;    
    width: 80%;
    border-radius: 20px;    
    margin: auto;
    background-color: $header;
    margin-top: 15px;
    box-shadow: 2px 2px 30px $fond;
    padding-left: 10px;
    padding-right: 0px; 
    height: 55px;
    margin-bottom: 15px; 
    overflow: hidden;
    display: flex;   
    justify-content: space-between;
    position: relative;
}
.maini{
    animation-name: clarte;
    animation-duration: 10s;
}
.maini:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.maini:hover .chek{
    transform: translate(-40px);
}
.maini:hover .maini4{
    width: 85%;
}
.maini1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.maini1{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 0px;
}
.maini:hover .maini1{
    text-overflow: ellipsis;
}
.maini2{
    display: flex;
    justify-content: space-between;    
}
.maini2 p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.maini3{
    font-weight: bold;
}
.maini4{
    width: 95%;
    transition: width 2s;
}
.mainj{    
    font-family: 'Roboto', sans-serif;    
    width: 80%;
    border-radius: 20px;    
    margin: auto;
    background-color: $header;
    margin-top: 15px;
    box-shadow: 2px 2px 30px $fond;
    padding-left: 10px;
    padding-right: 0px; 
    height: 55px;
    margin-bottom: 15px; 
    overflow: hidden;
    display: flex;   
    justify-content: space-between;
    position: relative;
}
.mainj{
    animation-name: clarte;
    animation-duration: 10s;
}
.mainj:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.mainj:hover .chek{
    transform: translate(-40px);
}
.mainj:hover .mainj4{
    width: 85%;
}
.mainj1{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 0px;
}
.mainj2{
    display: flex;
    justify-content: space-between;    
}
.mainj2 p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.mainj3{
    font-weight: bold;
}
.mainj4{
    width: 95%;
    transition: width 2s;
}
.maink{    
    font-family: 'Roboto', sans-serif;    
    width: 80%;
    border-radius: 20px;    
    margin: auto;
    background-color: $header;
    margin-top: 15px;
    box-shadow: 2px 2px 30px $fond;
    padding-left: 10px;
    padding-right: 0px; 
    height: 55px;
    margin-bottom: 15px; 
    overflow: hidden;
    display: flex;   
    justify-content: space-between;
    position: relative;
}
.maink{
    animation-name: clarte;
    animation-duration: 10s;
}
.maink:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.maink:hover .chek{
    transform:translate(-40px)    
}
.maink:hover .maink4{
    width: 85%;
}
.maink1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px
}
.maink2{
    display: flex;
    justify-content: space-between;    
}
.maink2 p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.maink3{
    font-weight: bold
}
.maink4{
    width: 95%;
    transition: width 2s;
}
.commander{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondaire;  
    display: flex;      
    width: 300px;
    height: 50px;
    margin: auto;  
    margin-top: 50px;     
    text-align: center;
    border-radius: 50px;
    color: #ffffff;
    font-size: 40px;
    box-shadow: 2px 2px 15px $primaire;
    font-weight: bold;                
}
.commander:hover{
    background-color: #fface8;
    box-shadow: 2px 2px 15px #ff46cc;
    transition: 250ms;    
}
footer{
    position: absolute;
    top: 1480px;
    left: 0px;
    z-index: 2;
    background-color: #353535; 
    margin-top: 30px;      
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    width: 100%;
}
.footera{
    font-family: 'Shrikhand', cursive; 
    font-size: 30px;  
    font-weight: bold;
    margin-left: 30px;
}
.footerb{
        display: flex;  
        padding-top: 3px; 
        font-weight: bold; 
        margin-top: 10px; 
        margin-left: 30px;
}
.footerc{
    margin-left: 30px; 
}
.footerd{
        padding-top: 4px;
      margin-top: 10px;
      font-weight: bold;
      margin-left: 30px;
      color:#ffffff;
      text-decoration: none;
}
footer p{
    margin-top: 0px;
    font-weight: bold;
}
@media screen  and (max-width: 380px)
 {
    .mainc{
        font-size: smaller;
    }
    .maind{
        font-size: smaller;
    }
    .mainf{
        font-size: smaller;
    }
    .maing{
        font-size: smaller;
    }
    .mainh{
        font-size: smaller;
    .maini{
        font-size: smaller;
    }
    .maini{
        font-size: smaller;
    }
    .mainj{
        font-size: smaller;
    }
    .maink{
        font-size: smaller;
    }
    .mainc1{
        width:375px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    }
}



