$primaire: #9356DC;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$fond:#f6f6f6;
$footer:353535;
$header:#ffffff;

@import "./mixins.scss";

@keyframes clarte{
    from{
         opacity: 0;
    }
    to{
         opacity: 1;
    }
}

body{    
    margin:0px;  
    max-width: 500px; 
    min-width: none;     
    margin: auto;   
    position: relative;  
}
header{
    width: 100%;       
}
.header1{    
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;  
    width: 65%;
    height: 60px;
    font-size: 30px;
    font-family: 'Shrikhand', cursive;
}
.header2{
    justify-content: center;
}
header img{
    width: 100%;
    height: 230px;
}
.fa-arrow-left{
    color: black;
}
main{
    @include main;
}
.maina{
    @include maintitre;
}
.maina p{
    @include maintitrep;
}
.mainb{
    @include mainchoix;
}
.mainc{
    @include mainplat;
}
.chek{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    background-color:$tertiaire;
    height: 55px;
    position: absolute;
    right: -40px;
    transition: transform 2s;
  }

.fa-check-circle{
    font-size: larger;
    color: #ffffff;       
}
.mainc{
    animation-name: clarte;
    animation-duration: 5s;
}
.mainc:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.mainc:hover .chek{
    transform: translate(-40px);
}
.mainc:hover .mainc4{
    width: 85%;
}
.mainc1{
    @include mainplat1;
}
.mainc2{
    @include mainplat2;
}
.mainc2 p{
    @include mainplat2p;
}
.mainc3{
    font-weight: bold;
}
.mainc4{
    width: 95%;
    transition: width 2s;
}
.maind{
    @include mainplat;
}
.maind{
    animation-name: clarte;
    animation-duration: 5s;
}
.maind:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.maind:hover .chek{
    transform:translate(-40px);
}
.maind:hover .maind4{
    width: 85%;
}
.maind1{
    @include mainplat1;
}
.maind2{
    @include mainplat2;
}
.maind2 p{
    @include mainplat2p;
}
.maind3{
    font-weight: bold;
}
.maind4{
    width: 95%;
    transition: width 2s;
}
.maine{
    @include mainplat;
}
.maine{
    animation-name: clarte;
    animation-duration: 5s;
}
.maine:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.maine:hover .chek{
    transform: translate(-40px);
}
.maine:hover .maine4{
    width: 85%;
}
.maine1{
    @include mainplat1;
}
.maine2{
    @include mainplat2;
}
.maine2 p{
    @include mainplat2p;
}
.maine3{
    font-weight: bold;
}
.maine4{
    width: 95%;
    transition: width 2s;
}
.mainb1{
    @include mainchoix;
}
.mainf{
    font-family: 'Roboto', sans-serif;    
    width: 80%;
    border-radius: 20px;    
    margin: auto;
    background-color: $header;
    margin-top: 15px;
    box-shadow: 2px 2px 30px $fond;
    padding-left: 10px;
    padding-right: 0px; 
    height: 70px;
    margin-bottom: 15px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.chek1{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    background-color:$tertiaire;    
    position: absolute;
    right: -40px;
    transition: transform 2s;
}
.mainf{
    animation-name: clarte;
    animation-duration: 7s;
}
.mainf:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.mainf:hover .chek1{
    transform: translate(-40px);
}
.mainf:hover .mainf4{
    width: 85%;
}
.mainf1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;    
}
.mainf11{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}
.mainf2{
    display: flex;
    justify-content: space-between; 
}
.mainf2 p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.mainf3{
    font-weight: bold;
}
.mainf4{
    width: 95%;
    transition: width 2s;
}
.maing{
    @include mainplat;
}
.maing:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.maing:hover .chek{
    transform: translate(-40px);
}
.maing:hover .maing4{
    width: 85%;
}
.maing{
    animation-name: clarte;
    animation-duration: 7s;
}
.maing1{
    @include mainplat1;
}
.maing2{
    @include mainplat2;
}
.maing2 p{
    @include mainplat2p;
}
.maing3{
    font-weight: bold;
}
.maing4{
    width: 95%;
    transition: width 2s;
}
.mainh{
    @include mainplat;
}
.mainh{
    animation-name: clarte;
    animation-duration: 7s;
}
.mainh:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.mainh:hover .chek{
    transform: translate(-40px);
}
.mainh:hover .mainh4{
    width: 85%;
}
.mainh1{
    @include mainplat1;
}
.mainh2{
    @include mainplat2;
}
.mainh2 p{
    @include mainplat2p;
}
.mainh3{
    font-weight: bold;
}
.mainh4{
    width: 95%;
    transition: width 2s;
}
.mainb2{
    @include mainchoix;
}
.maini{
    @include mainplat;
}
.maini{
    animation-name: clarte;
    animation-duration: 10s;
}
.maini:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.maini:hover .chek{
    transform: translate(-40px)
}
.maini:hover .maini4{
    width: 85%;
}
.maini1{
    @include mainplat1;
}
.maini2{
    @include mainplat2;
}
.maini2 p{
    @include mainplat2p;
}
.maini3{
    font-weight: bold;
}
.maini4{
    width: 95%;
    transition: width 2s;
}
.mainj{
    @include mainplat;
}
.mainj{
    animation-name: clarte;
    animation-duration: 10s;
}
.mainj:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.mainj:hover .chek{
    transform: translate(-40px);
}
.mainj:hover .mainj4{
    width: 85%;
}
.mainj1{
    @include mainplat1;
}
.mainj2{
    @include mainplat2;
}
.mainj2 p{
    @include mainplat2p;
}
.mainj3{
    font-weight: bold;
}
.mainj4{
    width: 95%;
    transition: width 2s;
}
.maink{
    @include mainplat;
}
.maink{
    animation-name: clarte;
    animation-duration: 10s;
}
.maink:hover{
    background-color: $header;
    box-shadow: 2px 2px 30px #cccccc;
    transition: all 250ms;
}
.maink:hover .chek{
    transform: translate(-40px);
}
.maink:hover .maink4{
    width: 85%;
}
.maink1{
    @include mainplat1;
}
.maink2{
    @include mainplat2;
}
.maink2 p{
    @include mainplat2p
}
.maink3{
    font-weight: bold;
}
.maink4{
    width: 95%;
    transition: width 2s;
}
.commander{
    @include bouton;
}
.commander:hover{
    background-color: #fface8;
    box-shadow: 2px 2px 15px #ff46cc;
    transition: 250ms;    
}
footer{
    @include footer;
}
.footera{
    @include footera;
}
.footerb{
    @include footerb;
}
.footerc{
    @include footerc;
}
.footerd{
    @include footerd;
}
footer p{
    @include footerp;
}




